.ReactTable {
    left: 25%;
}

input[type=modification] {
    background-color:white;
    color: black;
    margin: 16px 0 ;
    width: 20%;
    position: relative;
    border: 2px solid rgb(37,58,71);
    text-align: left; 
}