.ClientHeader {
    font-size: 30px !important;
    margin: 0 0 0 0;
    background-color: rgb(52,152,134) !important;
}

.MaintenanceHeader {
    font-size: 30px !important;
    margin: 0 0 0 0;
    background-color: rgb(52,152,134) !important;
}

.ClientJumbotronPadding {
    padding-top: 0px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(234, 247, 241) !important;
    width: 45%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
}

.MainServiceScreen {
    display: flex;
    background-color: rgb(49,77,91);
}

.MaintenanceJumbotronPadding {
    padding-top: 0px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgb(234, 247, 241) !important;
    width: 45%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
}

.ClientParagraph {
    background-color: rgb(234, 247, 241) !important;
}

.MaintenanceParagraph {
    background-color: rgb(234, 247, 241) !important;
}

.splitter-layout {
    margin: 0 0 0 0 !important;
    background-color: rgb(234, 247, 241) !important;
}

.form-group {
    margin: 0 !important;
    font-size: 17px;
}

.layout-pane.layout-pane-primary {
    height: 300px !important;
    background-color: rgb(49,77,91);
}

.InputFormGroup {
    margin: 0 0 10px 0 !important;
}

.MaintenanceAlertMessage {
    width: 30%;
    position: absolute;
    left: 300px;
    bottom: -17px;
}

.MaintenanceEditSelectedInfo {
    color: white;
}

.FaultsInput{
    width: 60% !important;
}

.SelectedModificationDropdown {
    position: absolute;
    right: 150px;
    top: 163px;
}

.MaintenanceData {
    margin-bottom: 10px !important;
}
