.container-fluid {
    background-color: rgb(49,77,91);
    border: 0;
}

.navbar.navbar-inverse.navbar-static-top {
    border: 0;
    padding: 0%;
    margin: 0;
}

img.NavLogo.navbar-brand {
    height: 50px;
    background-color: white;
}

span.navbar-brand {
    padding-left: 30px;
}

body {
    background-color: rgb(49,77,91);
}

th {
    background:rgb(49,77,91);
    color: white;
    font-size: 35px;
}

.MainOptions {
    width: 20%;
    text-align: left;
}

.JobsList {
    width: 70%;
}

.ButtonContainer {
    text-align: left;
}

Button[type=button]{
    background-color: rgb(65, 190,168);
    border: none;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 2em;
}
