.ClientHeader {
    font-size: 30px !important;
    margin: 0 0 0 0;
    background-color: rgb(175, 216, 208) !important;
}

.MaintenanceHeader {
    font-size: 30px !important;
    margin: 0 0 0 0;
    background-color: rgb(175, 216, 208) !important;
}

.ClientJumbotronPadding {
    padding-top: 0px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgb(234, 247, 241) !important;
    width: 45%;
    border-radius: 5px;
}

.MainServiceScreen {
    display: flex;
    background-color: rgb(49,77,91);
}

.MaintenanceJumbotronPadding {
    padding-top: 0px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 20px !important;
    margin-right: 30px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: rgb(234, 247, 241) !important;
    width: 45%;
    border-radius: 5px;
}

.ClientParagraph {
    background-color: rgb(234, 247, 241) !important;
}

.MaintenanceParagraph {
    background-color: rgb(234, 247, 241) !important;
}

.splitter-layout {
    margin: 0 0 0 0 !important;
    background-color: rgb(234, 247, 241) !important;
}

.form-group {
    margin: 0 !important;
    font-size: 17px;
}

.MaintenanceSplitter {
    height: 300px !important;
    background-color: rgb(49,77,91) !important;
}

.InputFormGroup {
    margin: 0 0 10px 0 !important;
}

.MaintenanceAlertMessage {
    width: 40%;
    size: 0in;
    position: absolute;
    left: 87px;
    bottom: -15px;
}

.MaintenanceEditSelectedInfo {
    color: white;
}

.FaultsInput {
    display: inline-block !important;
    width: 100% !important;
    margin-top: 5px;
}

.BrandAndType {
    text-align: left;
}

.Description {
    text-align: left !important;
}

.SelectedModificationDropdown {
    width: 100%;
    margin-top: 5px;
}

.MaintenanceData {
    margin-bottom: 10px !important;
}

.StartDateHeader,.FaultHeader,.PriceHeader,.StartDateData,.FaultData,.PriceData,.EndDateHeader,.EndDateData,.ModificationHeader,.ModificationData {
    width: 30%;
}

.ModificationsListItems {
    text-align: left;
}
