.ReactTable {
    width: 100%;
    background-color: white;
}

.modal-container {
    position: relative;
  }

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.ProductTextModal {
    color: white;
}

.ProductInputTextField {
    position: absolute;
    left: 68px;
}

.ClientModal {
    color: white !important;
    text-align: left !important;
}

.SubmitJobButton {
    position: absolute;
    left: 17px;
    bottom:-47px;
}