.ReactTable.-striped.-highlight {
    width: 100%;
    left: 0;
}

input[type=brandname] {
    background-color:white;
    color: black;
    margin: 16px 0 ;
    width: 10%;
    position: relative;
    border: 2px solid rgb(37,58,71);
    text-align: left; 
}

.addBrand{
    background-color: rgb(65, 190,168);
    border: none;
    text-align: center;
}